/*--------
# General
----------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  position: relative; }

a {
  color: #333333; }

a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none; }

p {
  padding: 0;
  margin: 0 0 30px 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0; }

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center; }

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s; }

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px; } }

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none; }

.back-to-top:hover {
  background: #2dc997;
  color: #fff; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 997; }

#header #logo {
  float: left; }

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff; }

#header #logo img {
  padding: 0;
  margin: 0;
  width: auto;
  height: 47px; }

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 26px; }
  #header #logo img {
    max-height: 40px; } }

#header.header-fixed {
  background: rgba(52, 59, 64, 0.9);
  padding: 20px 0;
  height: 72px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

/*--------------------------------------------------------------
# Photos Section
--------------------------------------------------------------*/
.photo {
  border-radius: 30px;
  width: 500px; }

@media (max-width: 768px) {
  .photo {
    border-radius: 30px;
    width: 330px; } }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.cosa {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 1.5s infinite linear;
  -o-animation: bounce 1.5s infinite linear;
  -webkit-animation: bounce 1.5s infinite linear;
  animation: bounce 1.5s infinite linear;
  color: 000; }

.fa-chevron-down {
  color: #fff;
  margin: 20px;
  font-size: 30px; }

@-webkit-keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -0.2em; }
  70% {
    top: -0.3em; }
  100% {
    top: 0; } }

@-moz-keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -0.2em; }
  70% {
    top: -0.3em; }
  100% {
    top: 0; } }

@-o-keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -0.2em; }
  70% {
    top: -0.3em; }
  100% {
    top: 0; } }

@-ms-keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -0.2em; }
  70% {
    top: -0.3em; }
  100% {
    top: 0; } }

@keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -0.2em; }
  70% {
    top: -0.3em; }
  100% {
    top: 0; } }

#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/masia2.jpg) top center;
  background-size: cover;
  position: relative; }

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed; } }

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff; }

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px; } }

#hero h2 {
  font-family: 'Norican', cursive;
  color: #eee;
  margin-bottom: 50px;
  font-size: 30px; }

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px; } }

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff; }

#hero .btn-get-started:hover {
  background: #7A3E48;
  border: 2px solid #7A3E48; }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: 100%; }

.nav-menu ul li {
  min-width: 180px; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; }

/* Nav Menu Container */
#nav-menu-container {
  float: right;
  margin: 0; }

@media (max-width: 768px) {
  #nav-menu-container {
    display: none; } }

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  outline: none; }

.nav-menu > li {
  margin-left: 10px; }

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #cecece;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7; }

.nav-menu ul li {
  background: #fff; }

.nav-menu ul li:first-child {
  border-top: 0; }

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none; }

.nav-menu ul li a:hover {
  background: #2dc997;
  color: #fff; }

.nav-menu ul ul {
  margin: 0; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #fff; }

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline; } }

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #2dc997; }

#mobile-nav ul .menu-item-active {
  color: #2dc997; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px; }

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999; }
  @media only screen and (min-width: 1000px) {
    .section-header .section-description {
      margin-left: 200px;
      margin-right: 200px; } }

/* About Us Section
--------------------------------*/
#about {
  background: #f3f3f3;
  padding: 80px 0; }

#about .about-container .background {
  min-height: 300px;
  background: url(../img/photos1.jpg) center top no-repeat;
  background-size: cover;
  margin-bottom: 10px; }

#about .about-container .content {
  background: #f3f3f3; }

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px; }

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px; } }

#about .about-container {
  margin-bottom: 35px; }

#about .about-container p {
  line-height: 26px; }

#about .about-container p:last-child {
  margin-bottom: 0; }

#about .about-container .icon-box {
  background: #f3f3f3;
  background-size: cover;
  padding: 30px 0px 30px 75px; }

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  padding: 16px;
  border-radius: 50%;
  border: 2px solid #7A3E48; }

#about .about-container .icon-box .icon i {
  color: #7A3E48;
  font-size: 24px; }

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase; }

#about .about-container .icon-box .title a {
  color: #111; }

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px; }

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/vinya.jpg) fixed center center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/vinya.jpg) fixed center center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/vinya.jpg) fixed center center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/vinya.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0; }

#call-to-action .cta-title {
  color: #fff;
  font-size: 32px;
  font-weight: 700; }

#call-to-action .cta-text {
  color: #fff; }

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

#call-to-action .cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff; }

#call-to-action .cta-btn:hover {
  background: #7A3E48;
  border: 2px solid #7A3E48; }

#call-to-action .col-centered {
  margin: 0 auto;
  float: none; }

/* Map Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0 0 0; }

#contact #google-map {
  height: 600px; }

/* Contact Section
--------------------------------*/
#formContact {
  background: #f7f7f7;
  padding: 80px 0 40px 0; }

#formContact .info {
  color: #333333; }

#formContact .info i {
  font-size: 32px;
  color: #7A3E48;
  float: left; }

#formContact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px; }

#formContact .info .email p {
  padding-top: 5px; }

#formContact .social-links {
  padding-bottom: 20px; }

#formContact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

#formContact .social-links a:hover {
  background: #2dc997;
  color: #fff; }

#formContact .form #sendmessage {
  color: #2dc997;
  border: 1px solid #2dc997;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px; }

#formContact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px; }

#formContact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block; }

#formContact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px; }

#formContact .form input, #contact .form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px; }

#formContact .form button[type="submit"] {
  background: #2dc997;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

#formContact .form button[type="submit"]:hover {
  background: #51d8ad; }

.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .75s ease-in-out;
  -o-transition: opacity .75s ease-in-out;
  transition: opacity .75s ease-in-out; }
  .carousel-fade .carousel-item.active {
    opacity: 1; }

.carousel-col {
  min-height: 247.5px;
  height: 375px; }
  @media (max-width: 768px) {
    .carousel-col {
      height: 247.5px; } }

.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%; }

.hero-title {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.hero-quote {
  -webkit-animation-name: moveInBottom;
  animation-name: moveInBottom;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.btn-get-started:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(220, 220, 220, 0.103);
  box-shadow: 0 10px 20px rgba(220, 220, 220, 0.103); }

@-webkit-keyframes moveInBottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  40% {
    opacity: 0.5; }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  40% {
    opacity: 0.5; }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

#call-to-action label {
  margin-bottom: -0.5rem; }

#call-to-action .fields {
  margin-bottom: 5px; }

#call-to-action .mat-div {
  float: left;
  margin-left: 57px; }

#call-to-action .mat-input {
  color: white; }

#call-to-action .dates {
  margin-bottom: 20px; }

#formContact label {
  margin-bottom: -0.5rem; }

#formContact .mat-label {
  color: #999; }

#formContact .fields {
  margin-bottom: 5px; }

#formContact .mat-input {
  color: #999; }

#formContact .mat-div {
  margin-bottom: 5px; }
