// Carousel fade transition
.carousel-fade {
	.carousel-item {
		display: block;
		position: absolute;
		opacity: 0;
		transition: opacity .75s ease-in-out;

		&.active {
			opacity: 1;
		}
	}
}

.carousel-col {
  min-height: 247.5px;
  height: 375px;
  @media (max-width: 768px) {
  height: 247.5px;
  }
}

.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}

// .carousel-item {
//   &:nth-child(1) {
//     background-image: url("../img/photos1.jpg");  
//   }
//   &:nth-child(2) {
//     background-color: blue;  
//   }
//   &:nth-child(3) {
//     background-color: yellow;  
//   }
// }