@import "reset";
@import "carousel";

.hero-title {
  animation-fill-mode: backwards;
  animation-name: moveInLeft;
  animation-duration: 2s;
}

.hero-quote {
  animation-name: moveInBottom;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;


}

.btn-get-started:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(220, 220, 220, 0.103);
}

@keyframes moveInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  
  40% {
    opacity: 0.5;
    
  
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

#call-to-action {
  label{
    margin-bottom: -0.5rem;
  }
  .fields{
    margin-bottom: 5px;
  }
  .mat-div{
    float: left;
    margin-left: 57px;
  }
  .mat-input{
    color: white;

  }
  .dates{
    margin-bottom: 20px;
  }
}

#formContact {
  label{
    margin-bottom: -0.5rem;
  }
  .mat-label {
    color: #999;

  }
  .fields{
    margin-bottom: 5px;
  }
  
  .mat-input{
    color: #999;
  }
  .mat-div {
    margin-bottom: 5px;
  }
}